{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
  body {
    background-color: black
  }
</style>
<!--- Ciao {{ user.username }}! Questa è l'interfaccia principale di EMME --->
<div class="row">
  <div class="column" style="text-align:center">
    <form action="{% url 'logout' %}" method="GET"><input type="submit" class="buttons" value="Logout"></form><br>
    <div style="width:400px; display: inline-block">
      <div style="float: left; width: 200px">
        <form action="download_players"><input type="submit" class="buttons" value="Scarica i membri"></form><br>
      </div>
      <div style="float: left; width: 200px">
        <form action="download_teams"><input type="submit" class="buttons" value="Scarica le squadre"></form><br>
      </div>
    </div>
    <br>
    <div style="width:400px; display: inline-block">
      <div style="float: left; width: 200px">
        <form action="reset"><input type="submit" class="buttons" value="Reset"></form>
      </div>
      <div style="float: left; width: 200px">
        <form action="restart"><input type="submit" class="buttons" value="Restart"></form>
      </div>
    </div>
    <hr>
    <form action="add_captain"><input type="submit" class="buttons" value="Inserimento Capitano"></form><br>
    <br><br>
  </div>
</div>
{% endblock %}